/*Typical Device Breakpoint
----------------------------
Telas pequenas: ate 600px
Celular:de 600px ate 750px
Tablet: 768px ate 993px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/


/*LOGIN*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #imagemLogin img{
        width: 20vw;
        transform: translateY(50%);
        margin-top: 100px;
        margin-left: 30px;
        float:left;
    }
    #formLogin{
        float:right;
        width: 50vw;
        margin-top: 20%;
        margin-right: 30px;
    }
    #formLogin input{
        width: calc(100% - 15em);;
    }
    
    #formLogin footer{
        text-align: center;
        padding: 10px;
        margin:auto;
        display: block;
        float: left;
        font-size: 1.1em;
        transform: translate(-83%,-70px);
    }
}
@media only screen and (min-width:992px){
    #imagemLogin img{
        width: 10vw;
    }
    #formLogin{
        padding: 1.5%;
        width: 40vw;
        height: 320px;
    }
    #formLogin input{
        padding:10px;
        width:calc(100% - 20em);
    }
    #formLogin #Enviar{
        width: 30%;
    }
    #formLogin h1{
        font-size: 2em;
    }
    footer{
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
/* ALTERAR SENHA*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #imagemLogin img{
        width: 30vw;
        margin-top: 100px;
        margin-left: 31px;
        float:left;
    }
    #formEsqSenha{
        float:right;
        width: 50vw;
        margin-top: 20%;
        margin-right: 30px;
        padding: 1.5%;

    }
    #formEsqSenha input{
        width: calc(100% - 10em);;
    }
    #footer{
        text-align: center;
        padding: 10px;
        margin:auto;
        display: block;
        float: left;
        font-size: 1.1em;
    }
}
@media only screen and (min-width:992px){
    #imagemLogin img{
        width: 18vw;
    }
    #formEsqSenha{
        width: 50vw;
        height: auto;
    }
    #formEsqSenha input{
        padding:10px;
        width:calc(100% - 25em);
    }
    #formEsqSenha #Enviar{
        width: 25%;
    }
    #formEsqSenha h1{
        font-size: 2em;
    }
    footer{
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
/* TELA   CADASTRO*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #formCadastro{
        margin:auto;
        width:80vw;
        height: auto;
        transform: translate(-1%,3%);
    }
    #formCadastro input{
        width: 60%;
        float:right;
        transform: translateY(-31.5px);
    }
    #formCadastro label{
        float:left;
        display:flex;
        width: 40%;

    }
    #formCadastro #enviarCadastro{
        margin-top: 7px;
    }
    
    footer{
        text-align:center;
        margin: auto;
        font-size: 1em;
    }
}
@media only screen and (min-width:992px){
    #formCadastro{
        margin:auto;
        width:45vw;
        height:auto;
        padding:5px;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #formCadastro h1{
        font-size: 2em;
    }
    #formCadastro label{
        float:left;
        margin: 10px;
    }
    #formCadastro input{
        margin:10px 10px 0px 30px;
        width:38vw;
        float: left;
    }
    #formCadastro #enviarCadastro{
        float:right;
        font-size: 1em;
        margin-top: 16px;
        margin-right: 25px;
    }
    #formCadastro #Voltar{
        margin-top: 18px;
    }
}
/*SOBRE*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #Sobre header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 20px;
    }
    #Sobre header h1{
        text-align: center;
        margin-bottom: 10px;
    }
    #Sobre div img{
        float:right;
        width: 30%;
        transform: translate(-20%,2%);
    }
    #Sobre div h1{
        text-align: center;
        font-size: 2em;
        width: 40%;
        height: 100%;
        transform: translateX(-4%);
    }
    #Sobre #TextSobre p{
        float:left;
        font-size: 1em;
        width: 50%;
        height: 100%;
        margin:35px;
        text-align: justify;
        
    
    }
    #Sobre nav{
        text-align: center;
        margin-left: auto;
        
    }
    #Sobre nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Sobre nav > ul > li{
        display: inline;
        margin-right: 25px;
        font-weight: bold;
    }
    #Sobre nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Sobre nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #Sobre span{
        padding:1px;
        font-size: 1em;
        width: 10px;
        transform: translateY(15%);
    }
}
@media only screen and (min-width:992px){
    #Sobre header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 20px;
        display:flex;
        align-items:center;
    }
    #Sobre div img{
        float:right;
        width: 25%;
        transform: translate(-45%,2%);
    }
    #Sobre div h1{
        display: inline-block;
        width: 30%;
        transform: translateX(30%);
    }
    #Sobre #TextSobre p{
        float:left;
        font-size: 1.2em;
        width: 50%;
        height: 100%;
        margin:35px;
        text-align: justify;
        
    
    }
    #Sobre nav{
        float: right;
        margin-left: auto;
    }
    #Sobre nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Sobre nav > ul > li{
        display: inline;
        margin-right: 25px;
        font-weight: bold;
    }
    #Sobre nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Sobre nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #Sobre span{
        padding:5px;
        font-size: 1em;
        width: 10px;
        transform: translateY(15%);
    }
}

/*Contatos*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #formContato{
        width: 70vw;
    }
    #Contato header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 20px;
        display:flex;
        align-items: center;
    }
    #Contato header h1{
        float: left;
        margin-bottom: 10px;
    }
    #formContato input{
        width: 80%;
    }
    #formContato textarea{
        width: 80%;
    }
    
    #Contatos nav{
        text-align: center;
        margin-left: auto;
        
    }
    #Contatos  nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Contatos  nav > ul > li{
        display: inline-block;
        margin-right: 25px;
        font-weight: bold;
    }
    #Contatos  nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Contatos  nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #formContato #Voltar{
        margin-left:20px;
    }
    #formContato span{
        padding: 2px;
        font-size: 1em;
        width: 5%;
        transform: translate(-5%,10%);
    }
    
}
@media only screen and (min-width:992px){
    #formContato{
        width: 40vw;
        margin: auto;
    }
    #Contatos header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 10px;
        display:flex;
        align-items: center;
    }
    #Contatos header h1{
        text-align: left;
        margin-bottom: 10px;
    }
    #formContato input{
        width: 80%;
    }
    #formContato textarea{
        margin: 10px 40px;
        width: 80%;
    }
    
    #Contatos nav{
        text-align: right;
        margin-left: auto;
        
    }
    #Contatos  nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Contatos  nav > ul > li{
        display: inline;
        margin-right: 25px;
        font-weight: bold;
    }
    #Contatos  nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Contatos  nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #formContato #Voltar{
        margin-left: 20px;

    }
    #formContato span{
        padding: 2px;
        font-size: 1em;
        width: 5%;
        transform: translate(-5%,10%);
    }
}
/*CREDITOS*/
@media only screen and (min-width:768px) and (max-width: 992px){
    #bodyCreditos{
        width: 80vw;
        height:auto;
        margin: auto;
    }
    #bodyCreditos img{
        width: 60%;
    }
    #Creditos header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 10px;
        display:flex;
        align-items: center;
    }
    #Creditos header h1{
        text-align: left;
        margin-bottom: 10px;
    }
    
    #Creditos nav{
        text-align: right;
        margin-left: auto;
        
    }
    #Creditos  nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Creditos  nav > ul > li{
        display: inline;
        margin-right: 25px;
        font-weight: bold;
    }
    #Creditos  nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Creditos  nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #Creditos span{
        padding: 2px;
        font-size: 1em;
        width: 5%;
        transform: translate(-5%,10%);
    }
}
@media only screen and (min-width:992px){
    #bodyCreditos{
        width:50vw;
        margin: auto;
    }
    #bodyCreditos img{
        width: 50%;
    }
    #Creditos header{
        background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
        border-radius:5px;
        margin:15px 10px;
        height: auto;
        padding: 10px;
        display:flex;
        align-items: center;
    }
    #Creditos header h1{
        text-align: left;
        margin-bottom: 10px;
    }
    
    #Creditos nav{
        text-align: right;
        margin-left: auto;
        
    }
    #Creditos  nav > ul{
        list-style: none;
        padding:0px;
        
    }
    #Creditos  nav > ul > li{
        display: inline;
        margin-right: 25px;
        font-weight: bold;
    }
    #Creditos  nav > ul > li > a{
        text-decoration: none;
        color:#d7d7d7;
        font-size: 1.2em;
    }
    #Creditos  nav > ul > li > a:hover{
        text-decoration: underline;
        color:#aaaaaa;
    }
    #Creditos span{
        padding: 2px;
        font-size: 1em;
        width: 5%;
        transform: translate(-5%,10%);
    }
}