@font-face {
    font-family: 'Principal';
    src: url("fonte/FiraCode-VariableFont_wght.ttf");
}
*{
    margin: 0;
    padding: 0;
}
:root{
    /*Cor da Paleta*/
    --color1: #000000;
    --color2: #202126;
    --color3: #32343b;
    --color4: #ffffff;
    --color5: #d7d7d7;
    /*Cor do Gradiente*/
    --color6: #000000;
    --color7: #202126;
    --color8:#2e2f36;
    --color9: rgb(115, 119, 139);
    --color10:rgb(148, 153, 180);
}
body{
    background-image: linear-gradient(to right, var(--color1),var(--color2 ));
    color:  #d7d7d7;
    font-family: 'Principal';
    font-size: 1em;
}
#imagemLogin img{
    display:block;
    margin: auto;
    width:150px;

}
#formLogin{
    display:block;
    background: var(--color5);
    box-shadow: 3px 3px 5px  #00000095;
    color:var(--color7);
    margin:auto;
    padding:30px;
    width: 50%;
    height: auto;
    text-align: center;
    border-radius: 10px;

}
#formLogin h1{
    font-size: 1.5em;
    padding: 20px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px  #2021265e;
}
#formLogin input{
    background-color: #aaaaaa;
    padding:10px;
    margin: 10px 0px;
    width:calc(100% - 5em);
    border-radius: 5px;
    border:0px;
}

#formLogin #Enviar{
    margin:10px 0px;
    width: 42%;
    height: 100%;
    background-color: var(--color7);
    color: var(--color5);
    box-shadow: 2px 2px 5px  #0000007c;
    cursor:pointer;
    padding:15px;
}
#formLogin #Enviar:hover{
    background-color: var(--color1);
}
#formLogin a{
    text-decoration: none;
    color:  var(--color1);
}
#formLogin a:hover{
    text-decoration: underline;
    color: var(--color8);
}

span{
    padding:5px;
    font-size: 2em;
    width: 20px;
    transform: translateY(8px);
}
footer {
    display:block;
    padding: 10px;
    margin:auto;
    text-align: center;
    
}
#rodape a{
    text-decoration: none;
    color: var(--color5);
}
#rodape a:hover{
    text-decoration: underline;
    color: #aaaaaa;
}