@font-face {
    font-family: 'Principal';
    src: url("fonte/FiraCode-VariableFont_wght.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    /*Cor da Paleta*/
    --color1: #000000;
    --color2: #202126;
    --color3: #32343b;
    --color4: #ffffff;
    --color5: #d7d7d7;
    /*Cor do Gradiente*/
    --color6: #000000;
    --color7: #202126;
    --color8:#2e2f36;
    --color9: rgb(115, 119, 139);
    --color10:rgb(148, 153, 180);
}
body{
    background-image: linear-gradient(to right, var(--color1),var(--color2 ));
    color:  #d7d7d7;
    font-family: 'Principal';
    font-size: 1em;
}
#imagemLogin img{
    display:block;
    margin: auto;
    width:200px;
    margin-top: 20px;

}
    

#formLogin{
    display:block;
    background: var(--color5);
    box-shadow: 3px 3px 5px  #00000095;
    color:var(--color7);
    margin:auto;
    padding:15px;
    width: 70%;
    height: auto;
    text-align: center;
    border-radius: 10px;

    transition : width .3s, height .3s;
    transition-timing-function: ease;
    

}
#formLogin h1{
    font-size: 1.5em;
    padding: 20px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px  #2021265e;
}
#formLogin p{
    font-size: 1em;

}
#formLogin input{
    background-color: #aaaaaa;
    padding:15px;
    margin: 10px 0px;
    width:calc(100% - 10em);
    border-radius: 5px;
    border:0px;
}

#formLogin #Enviar{
    margin:10px 0px;
    width: 42%;
    height: 100%;
    background-color: var(--color7);
    color: var(--color5);
    text-shadow: 1px 1px 5px black;
    cursor:pointer;
    padding:15px;
}
#formLogin #Enviar:hover{
    background-color: var(--color1);
}
#formLogin a{
    text-decoration: none;
    color:  var(--color1);
}
#formLogin a:hover{
    text-decoration: underline;
    color: var(--color8);
}
#formLogin span{
    padding:9px;
}
/*
    Sessao "esq_senha.html" ou aba do "Alterar senha"
*/

#formEsqSenha{
    display:block;
    background: var(--color5);
    box-shadow: 3px 3px 5px  #00000095;
    color:var(--color7);
    margin:auto;
    padding:30px;
    width: 60%;
    height: auto;
    text-align: center;
    border-radius: 10px;

    transition : width .3s, height .3s;
    transition-timing-function: ease;

}
#formEsqSenha h1{
    font-size: 1.2em;
    padding: 20px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px  #2021265e;
}
#formEsqSenha input{
    background-color: #aaaaaa;
    padding:10px;
    margin: 25px 0px;
    width:calc(100% -5em);
    border-radius: 5px;
    border:0px;
}

#formEsqSenha #Enviar{
    margin:15px 0px;
    font-size: 1em;
    width: 30%;
    height: 100%;
    background-color: var(--color7);
    color: var(--color5);
    box-shadow: 2px 2px 5px  #0000007c;
    cursor:pointer;
    padding:10px;
}
#formEsqSenha #Enviar:hover{
    background-color: var(--color1);
}
#formEsqSenha #Voltar {
    margin:10px 0px;
    display: inline-block;
    width: 20%;
    height: 19.5px;
    background-color: var(--color2);
    color:var(--color5);
    font-size: 1em;
    padding: 9.5px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px  #0000007c;
    transform: translateY(1px);
    cursor:pointer;
}
#formEsqSenha #Voltar:hover{
    background-color: var(--color1);
    text-decoration: none;
}
#formEsqSenha a{
    text-decoration: none;
    color:  var(--color1);
}
#formEsqSenha a:hover{
    text-decoration: underline;
    color: var(--color8);
}
#formEsqSenha span{
    padding:10px;
    transform: translateY(15%);
    font-size: 25px;
}

/*
    Sessao "sobre.html" ou aba do "Sobre"
*/
#Sobre{
    transition : width .3s, height .3s;
    transition-timing-function: ease;
}
#Sobre header{
    background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
    border-radius:5px;
    margin:15px 10px;
    height: auto;
    padding: 30px;
}
#Sobre header h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px black;
}
#Sobre div img{
    width: 30%;
    margin:auto;
    margin-left: 50px;
}
#Sobre div h1{
    display: inline-block;
    width: 40%;
    font-size: 2em;
    transform: translateY(-15px);
    text-shadow: 1px 1px 5px black;
}
#Sobre #TextSobre p{
    font-size: 1em;
    width: 70%;
    height: 100%;
    margin:auto;
    text-align: justify;
    text-shadow: 1px 1px 5px black;

}
#Sobre nav{
    text-align: center;
    margin-left: auto;
}
#Sobre nav > ul{
    list-style: none;
    padding:0px;
    
}
#Sobre nav > ul > li{
    display: inline;
    margin-right: 25px;
    font-weight: bold;
}
#Sobre nav > ul > li > a{
    text-decoration: none;
    color:#d7d7d7;
    font-size: 1em;
    text-shadow: 1px 1px 5px black;
}
#Sobre nav > ul > li > a:hover{
    text-decoration: underline;
    color:#aaaaaa;
}
#Sobre span{
    padding:1px;
    font-size: 1em;
    width: 10px;
    transform: translateY(15%);
}
/*
    Sessao "cadastro.html" ou aba do "Cadastro"
*/

#formCadastro{
    display:block;
    background: var(--color5);
    box-shadow: 3px 3px 5px  #00000095;
    color:var(--color7);
    margin:auto;
    margin-top: 10%;
    padding: 40px;
    width: 70%;
    height:auto;
    text-align: center;
    border-radius: 10px;
    transition : width .3s, height .3s;
    transition-timing-function: ease;

}
#formCadastro h1{
    font-size: 1.5em;
    padding: 10px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px  #2021265e;
}
#formCadastro h3{
    margin:10px 0px;
    text-align: center;
    font-size: 1em;
}
#formCadastro label{
    float: left;
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

#formCadastro input{
    background-color: #aaaaaa;
    padding:10px;
    margin: auto;
    margin-top:10px;
    width:100%;
    border-radius: 5px;
    border:0px;
}

#formCadastro #enviarCadastro{
    font-size: 1em;
    margin:10px 0px;
    width: 45%;
    height: 50px;
    background-color: var(--color7);
    color: var(--color5);
    box-shadow: 2px 2px 5px  #0000007c;
    cursor:pointer;
    padding:15px;
    transform: translateY(3px);
}
#formCadastro #enviarCadastro:hover{
    background-color: var(--color1);
}
#formCadastro a{
    text-decoration: none;
    color:  var(--color1);
}
#formCadastro a:hover{
    text-decoration: underline;
    color: var(--color8);
}
#formCadastro #Voltar {
    margin:10px 0px;
    display: inline-block;
    width: 40%;
    height: 25px;
    background-color: var(--color2);
    color:var(--color5);
    font-size: 1em;
    padding: 12px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px  #0000007c;
    transform: translateY(1px);
    cursor:pointer;
}
#formCadastro #Voltar:hover{
    background-color: var(--color1);
    text-decoration: none;
}
#formCadastro span{
    padding:1px;
    font-size: 1.5em;
    width: 10px;
    transform: translateY(6px);
}
/*Contatos*/
#Contatos{
    font-size: 1em;
    transition : width .3s, height .3s;
    transition-timing-function: ease;
}
#Contatos header{
    background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
    border-radius:5px;
    margin:15px 10px;
    height: auto;
    padding: 30px;
}
#Contatos header h1{
    text-align: center;
    font-size: 2em;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px black;
}

#formContato{
    margin:auto;
    background-color: #aaaaaa;
    width: 80%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 5px  #00000095;
}
#formContato input{
    margin: 10px 40px;
    padding:10px;
    width: 75%;
    height: auto;
    border:none;
    border-radius: 5px;
}
#formContato p > label{
    margin: 10px;
    margin-top: 10px;
    color:#000000;
}
#formContato textarea{
    border: none;
    margin: 10px 40px;
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    resize: vertical;
}

#Contatos nav{
    text-align: center;
    margin-left: auto;
}
#Contatos nav > ul{
    list-style: none;
    padding:0px;
    
}
#Contatos nav > ul > li{
    display: inline;
    margin-right: 25px;
    font-weight: bold;
}
#Contatos nav > ul > li > a{
    text-decoration: none;
    color:#d7d7d7;
    font-size: 1em;
    text-shadow: 1px 1px 5px black;
}
#Contatos nav > ul > li > a:hover{
    text-decoration: underline;
    color:#aaaaaa;
}
#formContato #enviarContato{
    font-size: 1em;
    margin:auto;
    width: 30%;
    height: 50px;
    background-color: var(--color7);
    color: var(--color5);
    box-shadow: 2px 2px 5px  #0000007c;
    cursor:pointer;
    padding:15px;
    transform: translateY(3px);
}
#formContato #enviarContato:hover{
    background-color: var(--color1);
}
#formContato #Voltar {
    text-decoration: none;
    text-align: center;
    margin:auto;
    display: inline-block;
    width: 25%;
    height: 26px;
    background-color: var(--color2);
    color:var(--color5);
    font-size: 1em;
    padding: 12px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px  #0000007c;
    cursor:pointer;
}
#formContato #Voltar:hover{
    background-color: var(--color1);
    text-decoration: none;
}
#Contatos span{
    padding: 2px;
    font-size: 1em;
    width: 5%;
    transform: translateY(15%);
}
/*CREDITOS*/

#Creditos header{
    background-image: linear-gradient(to right, var(--color3),#32343b88, #32343b38, #32343b00 );
    border-radius:5px;
    margin:15px 10px;
    height: auto;
    padding: 30px;
}
#Creditos header h1{
    text-align: center;
    font-size: 2em;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px black;
}
#Creditos nav{
text-align: center;
margin-left: auto;
}
#Creditos nav > ul{
    list-style: none;
    padding:0px;
}
#Creditos nav > ul > li{
    display: inline;
    margin-right: 25px;
    font-weight: bold;
}
#Creditos nav > ul > li > a{
    text-decoration: none;
    color:#d7d7d7;
    font-size: 1em;
    text-shadow: 1px 1px 5px black;
}
#Creditos nav > ul > li > a:hover{
    text-decoration: underline;
    color:#aaaaaa;
}

#bodyCreditos{
    background-color: #aaaaaa;
    border-radius: 5px;
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 5px  #00000095;
    margin:auto;
    text-align: center;
    padding: 10px;
    transition : width .3s, height .3s;
    transition-timing-function: ease;
}
#bodyCreditos h1{
    color:var(--color7);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
}
#bodyCreditos p{
    padding: 5px;
    color:var(--color8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}
#bodyCreditos img{
    width: 60%;
}
#Creditos span{
    padding: 2px;
    font-size: 1em;
    width: 5%;
    transform: translateY(15%);
}
    
span{
    padding:5px;
    font-size: 2em;
    width: 20px;
    transform: translateY(8px);
}
footer {
    text-align: center;
    padding: 10px;
    height: auto;
    position: fixed;
    display:block;
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#rodape a{
    text-decoration: none;
    color: var(--color5);
}
#rodape a:hover{
    text-decoration: underline;
    color: #aaaaaa;
}